/* start of the nav-bar style */

.navbar-nav a {
  font-size: 18px;

  font-weight: 500;
}

.navbar-light,
.navbar-brand {
  color: white;
  font-size: 25px;

  font-weight: 500;
  letter-spacing: 2px;
}

.nav-item {
  margin-right: 30px;
  font-weight: 600;
}
.navbar-brand img {
  display: block;
  position: absolute;
  width: 30px;
  margin-top: -9px;
  margin-left: -5px;

}

.brands {
  color: #ffc107;
  font-style: italic;
}
.nav-link {
  color: rgb(255, 255, 255);
  transition: transform 0.5s ease;
}

.top-nav .nav-link:hover {
  transform: translate(3px);
color: #ffc107;
}

.navbar-light,
.navbar-brand:focus,
.navbar-light,
.navbar-brand:hover {
  color: rgb(255, 255, 255);
}

.navbar-light,
.navbar-nav,
.nav-link:focus,
.navbar-light,
.navbar-nav,
.nav-link:hover {
  color: white;
}

.w-100 {
  height: 90vh;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  background: white;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.7s ease;
}

.menu-list {
  width: 750%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
}

.dropdown-item {
  color: rgb(255, 255, 255);
}

.drop-section:hover {
  background-color: #252323;
}

/* end of the nav-bar style */

/* media queries for navbar and corousel */

@media only screen and (max-width: 767px) {
  .navbar-nav {
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
  }

  .btn-signup {
    margin-bottom: 6px;
  }
}

/* privacy policy */

.container-fluid {
  background-image: url("Products/others/privacy_transparent.jpeg"); /* Set background image for the second row */
  background-size: cover;
  background-attachment: fixed;
  height: 600px; /* Adjust the height as needed */
}

.card-privacy {
  margin-top: -10%;
  border: 2px solid transparent;
  transition: border 0.9s ease;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.line-break {
  margin-bottom: 0.3em; /* Adjust the value as needed */
}

.list-group-item {
  border: none !important;
}

h1,
h2,
h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}

.card-body strong {
  color: #d39e00;
}

.card-body p {
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-family: "Heebo", sans-serif;
}

/* privacy policy */

/* start of the footer style */
.transparent-fluid3 {
  background-image: url("Products/others/footer-background.jpg"); /* Set background image for the second row */
  background-size: cover;
  background-attachment: fixed;
  height: 100%; /* Adjust the height as needed */
  filter: brightness(70%);
}

.socials {
  margin-left: 2%;
}

.social-icons a img {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
}

.contact-details {
  font-size: 120%;
  font-weight: 500;
}

.footer-list {
  list-style-type: none;
}

.footer-a a{
  text-decoration: none;
}
/* end of the footer style */
